<%= simple_form_for [customer, entry_booking], html: { class: "form entry-booking" } do |f| %>
  <% if entry_booking.errors.any? %>
    <div class="error-message">
      <%= entry_booking.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="form-group">
    <div>
      <%= f.label :date %>
    </div>
    <div>
      <%= f.date_field :date, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :persons %>
    </div>
    <div>
      <%= f.number_field :persons, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :amount %>
    </div>
    <div>
      <%= f.number_field :amount, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :purpose %>
    </div>
    <div>
      <%= f.text_field :purpose, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :remark %>
    </div>
    <div>
      <%= f.text_area :remark, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :entry_type_id %>
    </div>
    <div>
      <%= f.collection_select :entry_type_id, EntryType.all, :id, :entry_type, { selected: EntryType.find_by(entry_type: "stag_entry").id }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :locker_token %>
    </div>
    <div>
      <%= f.number_field :locker_token, class: 'form-control' %>
    </div>
  </div>

  <!-- Add other input fields here as needed -->

  <div class="form-actions">
    <%= link_to "Cancel", customer_path(customer), class: "btn btn--light" %>
    <%= f.submit "Create Entry Booking", class: "btn btn--secondary" %>
  </div>
<% end %>
