<main class="container mb-xxxxl">
  <%= link_to sanitize("&larr; Back to customers"), customers_path %>
  <div class="header">
    <h1>
      <%= @customer.name %>
    </h1>
    <%= link_to "New Booking", new_customer_entry_booking_path(@customer), data: { turbo_frame: dom_id(EntryBooking.new) }, class: "btn btn--primary" %>
  </div>
  <%= turbo_frame_tag EntryBooking.new %>
  <%= turbo_frame_tag "entry_bookings" do %>
    <%= render @entry_bookings, customer: @customer %>
  <% end %>
</main>